@charset "UTF-8";
/* line 6, assets/stylesheets/layout/_core.scss */
body {
  color: #666;
  font-size: 18px;
  background: #EFEFED;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 12, assets/stylesheets/layout/_core.scss */
.container {
  margin: 0 auto;
  max-width: 1100px;
}

/* line 19, assets/stylesheets/layout/_core.scss */
#header {
  color: #294054;
  min-height: 120px;
  line-height: 120px;
  text-align: center;
  background: #FFFFFF;
  -moz-box-shadow: 0 2px 5px #ddd;
  -webkit-box-shadow: 0 2px 5px #ddd;
  box-shadow: 0 2px 5px #ddd;
}

/* line 28, assets/stylesheets/layout/_core.scss */
menu {
  text-align: center;
}

/* line 31, assets/stylesheets/layout/_core.scss */
.sep {
  padding: 30px 0;
  min-height: 400px;
  background: #E85040;
}
/* line 35, assets/stylesheets/layout/_core.scss */
.sep .container {
  min-height: 150px;
}
/* line 36, assets/stylesheets/layout/_core.scss */
.sep:nth-child(2) {
  background: #8E44AD;
}

/* line 40, assets/stylesheets/layout/_core.scss */
.btn {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  background: #48C9B0;
  padding: 10px 18px;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 49, assets/stylesheets/layout/_core.scss */
.above-examples {
  top: 70px;
  color: #fff;
  bottom: 30px;
  width: 100%;
  display: block;
  font-size: 30px;
  padding-top: 65px;
  text-align: center;
  position: relative;
}
/* line 60, assets/stylesheets/layout/_core.scss */
.above-examples:before {
  top: 0;
  left: 48%;
  color: #fff;
  content: "▴";
  font-size: 65px;
  position: absolute;
  -moz-animation: click 0.6s;
  -webkit-animation: click 0.6s;
  animation: click 0.6s;
  animation-iteration-count: 100;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 100;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

@keyframes click {
  0% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes click {
  0% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
/* line 97, assets/stylesheets/layout/_core.scss */
.none {
  display: none;
}

/* line 98, assets/stylesheets/layout/_core.scss */
:target {
  color: #fff;
  display: block;
  font-size: 30px;
  line-height: 300px;
  text-align: center;
}

/* line 106, assets/stylesheets/layout/_core.scss */
.close {
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 25px;
  text-indent: 8px;
  line-height: 36px;
  position: absolute;
  background: #F39C12;
  text-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
/* line 120, assets/stylesheets/layout/_core.scss */
.close:before {
  content: "x";
}

/* line 123, assets/stylesheets/layout/_core.scss */
.illustration {
  margin: 0 auto;
  display: table;
  font-size: 11px;
  text-align: center;
}

/* line 129, assets/stylesheets/layout/_core.scss */
.avatar {
  display: table;
  font-size: 12px;
  min-width: 140px;
  line-height: 30px;
  margin: 40px auto 10px auto;
}
/* line 136, assets/stylesheets/layout/_core.scss */
.avatar img {
  float: right;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
/* line 140, assets/stylesheets/layout/_core.scss */
.avatar a {
  color: inherit;
}

/* line 147, assets/stylesheets/layout/_core.scss */
.forkme {
  top: 3px;
  left: 0;
  width: 138px;
  height: 136px;
  position: absolute;
  text-indent: -99999px;
  background: url("fork.png");
}

/* line 156, assets/stylesheets/layout/_core.scss */
.like {
  top: 40px;
  left: 150px;
  color: #ffffff;
  position: absolute;
  padding: 10px 20px;
  background: #B0AAC4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  animation-name: like;
  animation-duration: 0.6s;
  animation-iteration-count: 100;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0;
  -webkit-animation-name: like;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 100;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
}
/* line 181, assets/stylesheets/layout/_core.scss */
.like:before {
  top: 50%;
  left: -8px;
  content: "";
  margin-top: -8px;
  position: absolute;
  border-right: 8px solid #B0AAC4;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

@keyframes like {
  0% {
    left: 165px;
  }
  100% {
    left: 150px;
  }
}
@-webkit-keyframes like {
  0% {
    left: 165px;
  }
  100% {
    left: 150px;
  }
}
/* line 4, assets/stylesheets/core/_reset.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, assets/stylesheets/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 16, assets/stylesheets/core/_reset.scss */
after, hgroup:after, nav:after, footer:after, header:after, section:after, div:after, ol:after, ul:after, li:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* line 24, assets/stylesheets/core/_reset.scss */
a {
  color: inherit;
}

/* line 25, assets/stylesheets/core/_reset.scss */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 2, assets/stylesheets/core/_modal.scss */
.modal {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  position: absolute;
  background: #9B59B6;
  margin: -175px 0 0 -250px;
}

/* line 13, assets/stylesheets/core/_modal.scss */
#bounce:target {
  -moz-animation: bounce 1s;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

/* line 14, assets/stylesheets/core/_modal.scss */
#shake:target {
  -moz-animation: shake 1s;
  -webkit-animation: shake 1s;
  animation: shake 1s;
}

/* line 15, assets/stylesheets/core/_modal.scss */
#zoom:target {
  -moz-animation: zoom 0.5s;
  -webkit-animation: zoom 0.5s;
  animation: zoom 0.5s;
}

/* line 16, assets/stylesheets/core/_modal.scss */
#zoom-id:target {
  -moz-animation: zoomID 1s;
  -webkit-animation: zoomID 1s;
  animation: zoomID 1s;
}

/* line 17, assets/stylesheets/core/_modal.scss */
#flipx:target {
  -moz-animation: flipx 1.5s;
  -webkit-animation: flipx 1.5s;
  animation: flipx 1.5s;
}

/* line 18, assets/stylesheets/core/_modal.scss */
#flipy:target {
  -moz-animation: flipy 1.5s;
  -webkit-animation: flipy 1.5s;
  animation: flipy 1.5s;
}

@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomID {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@-webkit-keyframes zoomID {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes flipx {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipx {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes flipy {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipy {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
