// modal'
.modal {
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	position: absolute;
	background: #9B59B6;
	margin: -150px 0 0 -250px;
}

// Animations style
#bounce:target { @include animation( bounce 1s ); }
#two:target { @include animation( bounce 1s ); }
